@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/design.css">
    <title>MyDiary - Signup</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/3235/3235042.svg" type="image/x-icon">
</head>

<body>

    <div class="container">
        <div class="row h-100 justify-content-md-center">
            <div class="col col-12 col-sm-6  col-lg-4 my-auto">
                <div class="form-container">

                    <div class="MyDiary">
                        <div class="logo">
                            <img src="/img/MyDiaryIcon.svg" class="mx-auto d-block">
                        </div><br>
                        <div class="text-center txt">
                            <h2><strong>My Diary</strong></h2>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <p> <i class="fa fa-user-circle-o" aria-hidden="true"></i> FullName</p>
                        <input name="Email" class="form-control" id="email" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <p> <i class="fa fa-user-circle-o" aria-hidden="true"></i> Username</p>
                        <input name="Email" class="form-control" id="email" placeholder="Enter Email">
                    </div>

                    <div class="form-group">
                        <p><i class="fa fa-unlock" aria-hidden="true"></i> Password</p>
                        <input name="Psw" type="password" class="form-control " id="password" placeholder="Password">
                    </div>
                    @* <div class="form-group">
                        <p><i class="fa fa-unlock" aria-hidden="true"></i> RePassword</p>
                        <input name="Psw" type="password" class="form-control " id="password" placeholder="Password">
                    </div> *@
                    <div class="form-group">
                        <p><i class="fa fa-unlock" aria-hidden="true"></i> Date of Birth</p>
                        <input name="Psw" type="datetime" class="form-control " id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <p><i class="fa fa-unlock" aria-hidden="true"></i>Number</p>
                        <input name="Psw" type="datetime" class="form-control " id="password" placeholder="Password">
                    </div>
                    <div class="subbtn">
                        <button type="submit" name="Submit" class="btn btn-group-justified mx-auto d-block" onclick="signIn()"><i class="fa fa-check-circle" aria-hidden="true"></i> Sign Up</button>
                    </div>
                    <br>
                    <div class="row text-center">
                        <a class="mx-auto d-block" href="/Login/Index">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>

    <script src="js/credentials.js"></script>
    <script src="js/index.js"></script>

</body>

</html>