@model PersonalDiaryClient.Models.UserDTO

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDiary - Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/design.css">
</head>
<body>
    <div class="container">
        <div class="row h-100 justify-content-md-center">
            <div class="col col-12 col-sm-6 col-lg-4 my-auto">
                <div class="form-container">
                    <div class="MyDiary">
                        <div class="logo">
                            <img src="/img/MyDiaryIcon.svg" class="mx-auto d-block">
                        </div><br>
                        <div class="text-center txt">
                            <h2><strong>My Diary</strong></h2>
                        </div>
                    </div>
                    <br>
                    <form asp-action="Register" method="post">
                        <div class="form-group">
                            <label for="fullname">FullName</label>
                            <input asp-for="Fullname" class="form-control" required="true" id="fullname" placeholder="Enter FullName">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input asp-for="Username" class="form-control" required="true" id="username" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" required="true" id="email" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" required="true" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="password">Private Password</label>
                            <input asp-for="PrivatePassword" type="password" class="form-control" required="true" id="privatepassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="dob">Date of Birth</label>
                            <input asp-for="Dob" type="date" required="true" class="form-control" id="dob">
                        </div>
                        <div class="form-group">
                            <label for="number">Number</label>
                            <input asp-for="Number" class="form-control" required="true" id="number" placeholder="Number">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </form>
                    <br>
                    <div class="text-center">
                        <a href="@Url.Action("Index", "Login")" style="color: #007bff">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
