@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/WriteHere.css">
    <link rel="stylesheet" href="/css/card.css">
    <title>MyDiary - Write</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/3235/3235042.svg" type="image/x-icon">
</head>

<body>

    <div class="container-fluid d-flex justify-content-between">
        <form asp-action="Index" asp-controller="Home">
            <button class="btn-warning" value="Home" style="background: yellow;">Home</button>
        </form>
        <form asp-action="AI" asp-controller="Home" class="mr-2">
            <button class="btn-danger" value="AI" style="background: green;">Chatbot</button>
        </form>
        <form asp-action="Logout" asp-controller="Home" class="mr-2">
            <button class="btn-danger" value="Logout" style="background: red;">Logout</button>
        </form>
        
        
    </div>
    <div class="container">
        <div class="row h-100 justify-content-md-center">
            <div class="col my-auto">
                <div class="form-container">
                    <div class="row">
                        <div class="col my-auto">
                            <h1 class="text-center" style="color: #2b8fc7;">Hey There!</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col my-auto" style="text-align: right;">
                            <h5 class="DateAndDay" id="DateAndDay" style="color: #2b8fc7;"></h5>
                        </div>
                    </div>
                    <form id="postForm" method="post" action="/Diary/CreatePost">
                        <div class="form-group">
                            <textarea class="form-control" id="TextValue" name="Content" placeholder="You are free to write here. Just click here and start typing...." rows="15"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="tags"><i class="fa fa-tag" aria-hidden="true"></i> Tags</label>
                            <input type="text" class="form-control" id="tags" name="Tag" placeholder="Enter tags, separated by commas" />
                        </div>
                        <div class="d-flex justify-content-between subbtn-container">
                            <div class="subbtn">
                                <button type="submit" class="btn btn-group-justified mx-auto d-block"><i class="fa fa-check-circle" aria-hidden="true"></i> Done</button>
                            </div>
                            <div class="form-group">
                                <label for="visibility"><i class="fa fa-eye" aria-hidden="true"></i> Visibility</label>
                                <select class="form-control" id="visibility" name="Privacy">
                                    <option value="public">Public</option>
                                    <option value="private">Private</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase.js"></script>
    <script src="js/credentials.js"></script>
    <script src="js/WriteIt.js"></script>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var formattedDate = today.toLocaleDateString('en-US', options);
            $('#DateAndDay').text(formattedDate);
        });
        function IndexDiary() {
            window.location.href = '@Url.Action("Index", "Diary")';
        }
        function PublicDiary() {
            window.location.href = '@Url.Action("Public", "Diary")';
        }
        function IndexDiary() {
            window.location.href = '@Url.Action("Index", "Diary")';
        }
        function IndexDiary() {
            window.location.href = '@Url.Action("Index", "Diary")';
        }
    </script>
</body>

</html>
